
<div class="container">
  <div class="card-trip">
    <% @lists.each do |list| %>
      <div class="list">
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
          <% end %>
        <div class="card-trip-infos">
          <div class="card-product-infos">
            <p> <%= link_to list.name, list_path(list) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%= link_to "Add list", new_list_path, class: 'btn btn-ghost' %>
</div>
