
<div class="container">
  <div class="card-trip">
    <% @lists.each do |list| %>
      <div class="list">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div class="card-product-infos">
            <p> <%= link_to list.name, list_path(list) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<%= link_to "Add list", new_list_path, class: 'btn btn-ghost' %>
